@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white text-eel-black font-sans antialiased;
    }
}

@layer utilities {
    .btn-press {
        @apply active:translate-y-[4px] active:shadow-none transition-all;
    }
}