@config "../../tailwind.config.ts";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-alabaster text-ink-black font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display tracking-tight;
  }
}