@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-eel-black font-sans antialiased;
  }
}

@layer components {
  .btn-3d {
    @apply active:translate-y-[4px] active:shadow-none transition-all;
  }
}
